@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@keyframes blink-border {
  0%, 100% {
    border-color: rgba(74, 121, 238, 0.5); /* Semi-transparent blue */
  }
  50% {
    border-color: #4A79EE; /* Fully opaque blue */
  }
}

@keyframes blink {
  0%, 100% { border-color: rgba(74, 121, 238, 0.5); }
  50% { border-color: #4A79EE; }
}